<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card text-center">
            <h5 class="card-header">Item List</h5>
            <div class="card-body">
                <div class="input-group">
                    <input type="search" class="form-control search-input"
                      placeholder="Search" #searchDetail [(ngModel)]="searchDetailString">
                    <span class="input-group-text">
                      <i class="fa fa-search"></i>
                    </span>
                  </div>
                <div class="table-responsive">
                    <div class="table">
                        <thead>
                            <th scope="col">Name</th>
                            <th scope="col">Type</th>
                            <th scope="col">SubType</th>
                            <th scope="col">Tags</th>
                            <th></th>
                            <th scope="col">Action</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let client of searchedClientDetail; let i=index">
                                <td>{{client.name}}</td>
                                <td>{{client.type}}</td>
                                <td>{{client.subType}}</td>
                                <td>
                                    <span style="display: inline-block;" *ngFor="let tag of client.freeTag">
                                    {{tag}}&nbsp;</span>
                                </td>
                                <td></td>
                                <td>
                                    <span style="display: inline-block;">
                                        <span><i class="fa fa-trash" style="color: red;cursor: pointer;" aria-hidden="true" (click)="onDelete(client.id)"></i></span>&nbsp;
                                        <span><i class="fa fa-pencil" style="cursor: pointer;" aria-hidden="true" (click)="onEdit(client.id)"></i></span>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>